@charset "utf-8";
/* CSS Document */
body{ font-family:"宋体"; font-size:12px;}
*{ margin:0; padding:0; list-style-type:none; border:none; }

/******************页头部分**************************/
.wrap{ position:relative; z-index:0;}

.plant_header{ height:40px; background:#F8F8F8; border:1px solid #D5D5D5; border-bottom:2px solid #509E13; z-index:999; position:relative;}
.plant_head{ width:1000px; margin:0 auto; text-align:center; line-height:40px; position:relative; left:0; top:0;}
.plant_head a.kl_logo{ float:left; display:block; width:110px; height:27px; padding-top:6px; margin-left:45px; margin-right:75px; display:inline;}
.plant_head a.kl_logo img{ vertical-align:baseline;}
.plant_head span.new_game_name{ float:left; display:block; width:300px; height:34px; line-height:0; padding-top:6px; text-align:left;}
.plant_head span.new_game_name img{ vertical-align:text-bottom;}
.plant_head span.new_game_name a{ text-decoration:none; color:#F00;}
.plant_head span.plant_hed_nav{ float:right; display:block; padding-right:100px; color:#CCCCCC;}
.plant_head span.plant_hed_nav a{ text-decoration:none; color:#545454; text-align:left;}
.plant_head span.plant_hed_nav a:hover{ color:#FA7E02;}
.plant_hed_nav_hover{width:98px; height:23px; float:right; margin-top:10px; margin-left:15px; position:relative; z-index:999;}
.plant_head span.plant_hed_nav a.next_nav{ display:block; width:98px; height:23px; background:url(http://item.kunlun.com/top/images/but_bg_01.jpg) no-repeat center top; text-align:left; line-height:22px; padding-left:4px;}
.next_div{ clear:both; position:absolute; padding-top:10px; right:-100px; top:21px; width:0; height:0; overflow:hidden; z-index:999;}
.next_div_top{ width:9px; height:7px; position:absolute; right:142px; top:4px; background:url(dir_top.jpg) no-repeat center top;}
.next_div_cot{ width:621px; height:247px; border:1px solid #C4C4C4; background:#F2F2F2; padding:3px;}
.newxt_div_cott{ width:620px; height:244; border-top:1px solid #DEDFE0; border-left:1px solid #DEDFE0; overflow:hidden;}
.next_gamelist{ width:124px; height:246px; float:left; background:#FAFAFA; overflow:hidden;}
.next_gamelist h3{ width:123px; height:29px; color:#545454; font-size:12px; border-right:1px solid #DEDFE0; border-bottom:1px solid #DEDFE0; line-height:29px;}
/**/
.next_gamelist_special{ width:248px; height:246px; float:left; background:#FAFAFA; overflow:hidden;}
.next_gamelist_special h3{ width:246px; height:29px; color:#545454; font-size:12px; border-right:1px solid #DEDFE0; border-bottom:1px solid #DEDFE0; line-height:29px;}
.next_gamelist_special ul{ float:left;}
/**/
.next_gamelist ul li{ width:123px; height:26px; line-height:26px; border-right:1px solid #DEDFE0; border-bottom:1px solid #DEDFE0; background:#FFFFFF;}
.next_gamelist ul li a{ display:block; text-align:left; padding-left:20px; padding-right:20px; width:83px; height:26px; line-height:26px; color:#666565; text-decoration:none; overflow:hidden;}
.next_gamelist ul li a:hover{ text-decoration:underline; color:#509E13; background:#FAFAFA;}
.next_gamelist ul li a img{ float:right; margin-top:9px;}




/******************页脚部分**************************/
.plant_footer{ background:#F8F8F8;clear:both;}
.plant_fot_wrap{ border-top:2px solid #61696E; min-width:1000px;}
.plant_fot_nav_wai{ height:41px; line-height:41px; border-bottom:1px solid #DADADA;color:#DADADA;}
.plant_fot_nav{ width:1000px; margin:0 auto; text-align:center;}
.plant_fot_nav strong{ color:#3DA20D;}
.plant_fot_nav a,.mesg_02 a{ color:#61696E; text-decoration:none;}
.plant_fot_nav a:hover,.mesg_02 a:hover{ color:#FA7E02;}
.plant_fot_mesg{ width:1000px; margin:0 auto; color:#7D8489; padding-bottom:20px;}
.mesg_02{ float:left; line-height:25px; padding-left:10px; padding-top:10px; width:700px;}
.mesg_02 img{ float:left; margin-top:10px; margin-right:15px;}
.mesg_03{ clear:both; text-align:center; line-height:25px;}















